<div class="container mt-3">
  <div class="row">
    <% @lists.each do |list| %>
      <div class="col-4">
        <div class="position-relative">
          <% if list.photo.attached? %>
            <%= cl_image_tag list.photo.key, class: "img-fluid", height: 200, crop: :fill %>
          <% else %>
            <%= image_tag 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPQDYau3Hs4-xw1i8jVSUY4BlF4FLmg8lQqg&usqp=CAU', class: "img-fluid" %>
          <% end %>
          <a href="<%= list_path(list) %>" class="image-link">
            <p class="image-text"><%= list.name %></p> <!-- Display list.name overlaid on the image -->
          </a>
        </div>
      </div>
    <% end %>
  </div>
  <p><%= link_to "Create a new list", new_list_path, class: "btn btn-secondary" %></p>
</div>
